NEXT_PUBLIC_SUPABASE_URL="https://ijtbwxfgrhvzgxpufszz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqdGJ3eGZncmh2emd4cHVmc3p6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NTE0NTksImV4cCI6MjA2ODMyNzQ1OX0.GOwzWHVsAqbl5GT_pywEujnPrYb_27tIQ-e_cX_jIDo"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqdGJ3eGZncmh2emd4cHVmc3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc1MTQ1OSwiZXhwIjoyMDY4MzI3NDU5fQ.8RQDPS4qgTlwY4XlEcpwTp6dMg2YxygOaaZ1w5aPnHU"
NEXT_PUBLIC_OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
