NEXT_PUBLIC_SUPABASE_URL=https://upzpuzszvczzutfryeum.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwenB1enN6dmN6enV0ZnJ5ZXVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE5NDM1MTMsImV4cCI6MjA2NzUxOTUxM30.o5PnyCabtvwLsSWE1gqhy04nCb__K7OIQWdpxx9elVc
NEXT_PUBLIC_OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX